.projects__container{
    border: 1px red solid;
    background-color: pink;
    display: grid;
}

.project__item{
    border: 1px red solid;
    background-color: darkred;
    grid-template-columns: auto;
    height: 20rem;
    margin: 1.5rem;
    box-shadow: 10px 10px 20px gray;
}

.projects__container > h3 {
    padding: 1rem;
}